@media screen and (max-width : 600px){
    .main_container{
        width: 90%;
    }
    .link{
        width : 80%;
    }
    .name{
        font-size: 30px;
        color: blueviolet;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
        
    }
}
